<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>
  
  <!-- El - se usa para indicar que se interpretará el código, recordemos que esto es posible porque se instaló ejs -->
   <!-- Así se está insertando el código de Navigation.ejs -->
   <%- include('partials/navigation.ejs') %>

   <main class="vh-100 container pt-2 text-center justify-content-center align-content-center">
    <section>
      <h2 class="display-1">About</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas quasi molestiae quis. Nihil natus ipsum excepturi mollitia itaque blanditiis! Quaerat excepturi voluptatum laborum ab magnam modi est voluptatem. Odio, animi iure! Incidunt, explicabo ratione eligendi veniam exercitationem aliquam reprehenderit excepturi hic sed libero molestias ducimus dolor, amet delectus obcaecati porro laboriosam consequuntur harum odit? Ea explicabo deserunt, perspiciatis tempore omnis porro nihil eum laborum debitis iste soluta? Necessitatibus, dolores consequuntur! Optio ex sunt odio alias id totam ipsam quaerat dolorum quas sapiente voluptatibus, ipsum voluptas quos, nihil necessitatibus vero, eius hic temporibus minima doloribus. Temporibus neque maxime repellat autem. Delectus nemo doloribus nostrum cum distinctio quos qui quo enim, fuga aliquam a commodi ducimus, reiciendis officiis! Consequatur ipsum adipisci fuga maxime sed placeat doloribus aut quos! Sed odio accusamus repudiandae rem distinctio dolore nobis pariatur, deleniti quos expedita quia commodi recusandae similique aliquam exercitationem, at eius harum. Explicabo eos nobis odio animi voluptatibus doloribus repudiandae rerum alias fuga totam at quos, ea iure porro non velit libero quae ad quia ex quasi a. Eius ipsa neque blanditiis ipsum aliquam nulla reiciendis sit nobis autem suscipit, enim deleniti dolorem dolorum doloremque tempora delectus doloribus totam assumenda soluta nihil illum placeat?</p>
    </section>
   </main>

  <%- include('partials/footer.ejs') %>

</body>
</html>