<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>
  
  <!-- El - se usa para indicar que se interpretará el código, recordemos que esto es posible porque se instaló ejs -->
   <!-- Así se está insertando el código de Navigation.ejs -->
   <%- include('partials/navigation.ejs') %>

</body>
</html>