<footer>
  <h1>Lorem, ipsum dolor.</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non repellat aspernatur tempore quidem sunt vitae, amet quos tenetur! Cupiditate voluptatem aut minus! Minus vitae commodi, accusantium numquam debitis omnis dicta quia id eum? Cupiditate sapiente inventore, aliquam ut vitae delectus dolor magni quod, itaque vel tempora repudiandae ex magnam dicta corporis impedit neque eaque natus possimus officia! Laudantium quia perferendis, ipsum, dignissimos iusto atque recusandae optio nobis corrupti perspiciatis voluptate, ad ab doloremque repudiandae non illum rem deleniti quis similique. Veniam vel rem quia id ipsam! Sunt possimus eos, iure recusandae est, ducimus, quia nihil officiis aut soluta cupiditate deleniti.</p>
</footer>